snippet pd "print with debug"
    fmt.Printf("\nDebug ->  %+v\r\nType  ->  %T\r\n\n",${0})
    os.Exit(0)
snippet eh "Error handler"
    if err != nil {
        return ${0:err}
    }

snippet wr "http handler"
    w http.ResponseWriter, r *http.Request

